*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.signup-box{
background:#1e293b;
padding:35px;
width:100%;
max-width:380px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,.4);
text-align:center;
}

.signup-box h1{
color:#38bdf8;
margin-bottom:10px;
}

.signup-box h2{
color:white;
margin-bottom:25px;
}

input{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:10px;
font-size:16px;
}

button{
width:100%;
padding:14px;
margin-top:10px;
background:#38bdf8;
color:white;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#0ea5e9;
}

p{
margin-top:20px;
color:white;
}

a{
color:#38bdf8;
text-decoration:none;
}

.back{
display:block;
margin-top:20px;
}