/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:45px;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    margin:auto;
    color:#cbd5e1;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#0ea5e9;
    transform:scale(1.05);
}

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:50px 8%;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px rgba(56,189,248,.5);
}

.stats{
    display:flex;
    justify-content:space-around;
    text-align:center;
    padding:60px 20px;
    background:#111827;
}

.stats h2{
    color:#38bdf8;
    font-size:35px;
}

footer{
    text-align:center;
    padding:20px;
    background:#0b1120;
    color:#94a3b8;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

.hero h1{
    font-size:32px;
}

.stats{
    flex-direction:column;
    gap:25px;
}

}